#core_pages {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ebebeb;
}
.card {
  width: 100%;
  max-width: 270px;
  height: auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
}
.card h1 {
  margin: 0px 0px 20px;
}
#login-button {
  padding: 10px;
  margin: 30px 0px 0px;
  color: white;
  background-color: #e90606;
}
.search-on core-toolbar paper-icon-button,
.search-on core-toolbar span.title {
  opacity: 0;
}
core-drawer-panel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
core-drawer-panel core-toolbar {
  background-color: #e90606;
  color: white;
}
core-drawer-panel core-toolbar .title {
  font-size: 16px;
}
core-drawer-panel [main] core-toolbar .title span {
  margin-left: 24px;
}
core-drawer-panel [main] core-toolbar .title paper-icon-button {
  display: inline-block;
}
core-drawer-panel [main] core-toolbar .title paper-icon-button[icon=arrow-drop-down] {
  visibility: visible;
}
core-drawer-panel [main] core-toolbar .title paper-icon-button[icon=arrow-drop-up] {
  visibility: hidden;
  display: none;
}
core-drawer-panel [main] core-toolbar .title[show] paper-icon-button[icon=arrow-drop-down] {
  visibility: hidden;
  display: none;
}
core-drawer-panel [main] core-toolbar .title[show] paper-icon-button[icon=arrow-drop-up] {
  visibility: visible;
  display: inline-block;
}
core-drawer-panel [main] paper-tabs {
  background-color: white;
  height: 0;
  transition: height .2s;
}
core-drawer-panel [main] paper-tabs::shadow #selectionBar {
  background-color: #e90606;
}
core-drawer-panel [main] paper-tabs paper-tab::shadow #ink {
  color: #e90606;
  opacity: .5;
}
core-drawer-panel [main] paper-tabs[show] {
  height: 43px;
}
core-drawer-panel [main] section #cardSpinner {
  display: none;
}
core-drawer-panel [main] section #cardSpinner[active] {
  display: block;
}
core-drawer-panel [main] section #cardSpinner[active]::shadow .circle {
  border-color: #757575;
}
core-drawer-panel [main] section #cardHolder {
  display: block;
}
core-drawer-panel [main] section #cardHolder[hide] {
  display: none;
}
core-drawer-panel [drawer] {
  background: white;
}
core-drawer-panel [drawer] .title {
  text-align: center;
}
core-drawer-panel [drawer] .title [icon=account-circle] {
  margin-right: 10px;
}
#searchHolder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -o-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e90606;
  display: none;
}
#searchHolder input {
  background-color: inherit;
  border: none;
  font-size: 20px;
  outline: none;
  padding: 0;
  color: inherit;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
  -moz-flex: 1 0 0;
  -ms-flex: 1 0 0;
  -o-flex: 1 0 0;
  flex: 1 0 0;
  visibility: hidden;
  -webkit-appearance: none;
}
#searchHolder[show] {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 16px;
  margin-left: 0;
}
#searchHolder[show] input {
  padding: 5px;
  margin-left: 10px;
  visibility: visible;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.22);
}
#section-article core-toolbar {
  background-color: #e90606;
  color: white;
}
#section-article core-toolbar .title {
  font-size: 16px;
}
#section-article core-toolbar core-image {
  width: 100%;
  height: 100%;
}
#section-article #articleContainer {
  z-index: 0;
}
#section-article paper-fab {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 10px;
  bottom: black;
  color: #757575;
  background: white;
}
#section-article article {
  background: white;
  box-sizing: border-box;
  float: left;
  padding: 20px 20px 80px 20px;
  width: 100%;
  z-index: 0;
}
#section-article article h1 {
  font-size: 30px;
  margin: 0;
}
#section-article article h3 {
  font-size: 20px;
}
#section-article article img {
  width: 100%;
  height: auto;
}
#section-article article a {
  text-decoration: none;
  color: #0c97d2;
}
#section-article article .video-wrapper iframe {
  width: 100%;
  height: auto;
}
#section-article .capsule {
  border-radius: 24px;
  width: auto;
  padding: 16px 0 16px 24px;
  margin: 10px;
}
